<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    
</head>
<body>
    <div id="main">
        <form id="form" method="post" action="/login">
            <div id="title">Login</div>
            <div id="sub_title">Welcome back, please login</div>
            <div id="form_input">
                <div id="username_box">
                    <input id="username" type="text" placeholder="USERNAME" name="username" maxlength="15">
                    <div id="username_warning"></div>
                </div>
                <div id="password_box">
                    <input id="password" type="password" placeholder="PASSWORD" name="password" maxlength="15">
                    <div id="pass_warning"></div>
                    <span id="togglePassword" class="eye-icon">🙈</span> <!-- Closed eye icon (unicode) -->

                </div>     
            </div>
            <div id="forgot_pass"></div>
<div style="margin-top:-30px; margin-left:200px; transform:scale(0.8); transform-origin:0 0;" class="g-recaptcha" data-sitekey="6LeOuhgqAAAAAAegKyNESdMXo5lj2KKEIG5-57cX"></div>
            
            <div id="btn_side">
                <input id="loginBtn" type="submit" value="Login">
                <a href="/register"><button id="registerBtn" type="button">Register</button></a>
            </div>
        </form>
    </div>
    
    
</body>
</html>
<style>
    .eye-icon {
        position: absolute;
        right: 10px;
        top: 22%;
        font-size: 18px;
        cursor: pointer; /* Change the cursor to a pointer when hovering over the eye icon */
    }

    #password_box {
        position: relative;
        margin-top: 20px;
    }

    #password {
        padding-right: 30px; /* To make space for the eye icon */
    }
</style>


<script>
      document.addEventListener('DOMContentLoaded', function() {
        var passwordInput = document.getElementById('password');
        var togglePassword = document.getElementById('togglePassword');
        
        togglePassword.addEventListener('click', function() {
            // Toggle password visibility
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                togglePassword.textContent = '👀'; // Open eye icon when password is visible
            } else {
                passwordInput.type = 'password';
                togglePassword.textContent = '🙈'; // Closed eye icon when password is hidden
            }
        });
    });
</script>
